{:hara/type :project
 :hara/version "1.0.0"
 :project/id greenways/alumbra
 :project/version "0.1.0"
 :project/source-paths ["src"]
 :project/test-paths []
 :project/extension-paths []
 :project/capabilities #{}
 :project/dependencies
 {"hara:greenways/alumbra-core" {:version "^0.1.0"}
  "hara:greenways/alumbra-renderer-playcanvas" {:version "^0.1.0"}}
 :project/recipe "hara.recipe.edn"}
